---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---



@charset "utf-8";

// $background-color: pink;
// $body-color: blue;
// $text-color: green;
// $link-color: orange;
// $masthead-link-color: yellow;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.portfolio-section-container {
    width: 90%;
    margin: 0 auto;
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-section-child-text {
    flex: 0 1 50%;
}

.separator {
    border: 1px solid black;
}